html {
  font-family: "Open Sans", sans-serif;
  color: #000;
}

h1 {
  border-bottom: 1px solid #000;
}

legend {
  padding-right: 1em;
}

form {
  background-color: #fff;
}

@media only screen and (min-width: 60em) {

  .space-right {
    padding-right: .5em;
  }

  .space-left {
    padding-left: .5em;
  }

}
