html {
  font-family: "Open Sans", sans-serif;
  color: #000;
}

legend {
  padding-right: 1em;
}

.space-right {
  padding-right: .5em;
}
.space-left {
  padding-left: .5em;
}

form {
  background-color: #fff;
}

body {
  border: #f2f2f2;
}

@media only screen and (min-width: 60em) {



}
